<a href="https://colab.research.google.com/github/AmlanAlok/instacart-2017-project/blob/mark-1/99_ML_Huber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

%cd 'drive/MyDrive/9-Projects/1-ML-Instacart'
%ls

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/MyDrive/9-Projects/1-ML-Instacart
aisles.csv                 order_products__train.csv  products.csv
departments.csv            orders.csv                 test_orders.csv
order_products__prior.csv  prior_orders.csv           train_orders.csv

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_aisle = pd.read_csv("aisles.csv")
df_departments = pd.read_csv("departments.csv")
df_orders = pd.read_csv("orders.csv")
df_products = pd.read_csv("products.csv")
df_order_products1= pd.read_csv("order_products__prior.csv")
df_order_products2= pd.read_csv("order_products__train.csv")

1. aisle has 134 types
2. oroducts have 49,688 types

order_products1 and order_products2 do not have any overlapping order_id

pd.merge(df_order_products1, df_order_products2, on='order_id', how='outer') 

ans = 33819106 = total of op1 and op2

In [5]:
df_order_products1.shape

(32434489, 4)

In [6]:
df_order_products2.shape

(1384617, 4)

In [7]:
df_orders['eval_set'].unique()

array(['prior', 'train', 'test'], dtype=object)

Creating Prior, Train and Test sets from orders data.

In [8]:
# df_test_orders = df_orders.loc[df_orders['eval_set']=='test']
# df_test_orders
# df_test_orders.to_csv('test_orders.csv', encoding='utf-8', index=False)

# df_train_orders = df_orders.loc[df_orders['eval_set']=='train']
# df_train_orders
# df_train_orders.to_csv('train_orders.csv', encoding='utf-8', index=False)

# df_prior_orders = df_orders.loc[df_orders['eval_set']=='prior']
# df_prior_orders
# df_prior_orders.to_csv('prior_orders.csv', encoding='utf-8', index=False)

In [9]:
df_aisle.shape

(134, 2)

In [10]:
df_aisle

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [11]:
df_orders.head(30)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0

In [12]:
sorted(df_orders['order_hour_of_day'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [13]:
df_orders.shape

(3421083, 7)

In [14]:
df_order_products1.shape

(32434489, 4)

In [15]:
df_order_products2.shape

(1384617, 4)

In [16]:
df_orders.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0

In [17]:
df_order_products1.head(30)

    order_id  product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          2       30035                  5          0
5          2       17794                  6          1
6          2       40141                  7          1
7          2        1819                  8          1
8          2       43668                  9          0
9          3       33754                  1          1
10         3       24838                  2          1
11         3       17704                  3          1
12         3       21903                  4          1
13         3       17668                  5          1
14         3       46667                  6          1
15         3       17461                  7          1
16         3       32665                  8          1
17         4       46842                  1          0
18         4       26434                  2          1
19         4       39758                  3          1
20         4       27761                  4          1
21         4       10054                  5          1
22         4       21351                  6          1
23         4       22598                  7          1
24         4       34862                  8          1
25         4       40285                  9          1
26         4       17616                 10          1
27         4       25146                 11          1
28         4       32645                 12          1
29         4       41276                 13          1

Checking Order and Order Products 1 merge

```
[# This is formatted as code](https://)
```

In [25]:
order_op1_merge = pd.merge(df_orders, df_order_products1, on='order_id', how='inner')
order_op1_merge

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0

In [26]:
order_op1_merge['eval_set'].unique()

array(['prior'], dtype=object)

In [27]:
order_op1_merge.loc[order_op1_merge['order_id']==2]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
31824585,2,202279,prior,3,5,9,8.0,33120,1,1
31824586,2,202279,prior,3,5,9,8.0,28985,2,1
31824587,2,202279,prior,3,5,9,8.0,9327,3,0
31824588,2,202279,prior,3,5,9,8.0,45918,4,1
31824589,2,202279,prior,3,5,9,8.0,30035,5,0
31824590,2,202279,prior,3,5,9,8.0,17794,6,1
31824591,2,202279,prior,3,5,9,8.0,40141,7,1
31824592,2,202279,prior,3,5,9,8.0,1819,8,1
31824593,2,202279,prior,3,5,9,8.0,43668,9,0

In [20]:
df_order_products1.loc[df_order_products1['order_id']==2]

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0

In [21]:
df_order_products2.loc[df_order_products2['order_id']==2]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [22]:
df_orders.loc[df_orders['order_id']==2]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3355525,2,202279,prior,3,5,9,8.0

Checkign what is common order_id in op1 and op2

In [23]:
pd.merge(df_order_products1, df_order_products2, on='order_id', how='inner')

Empty DataFrame
Columns: [order_id, product_id_x, add_to_cart_order_x, reordered_x, product_id_y, add_to_cart_order_y, reordered_y]
Index: []

In [ ]:
df_orders

Checking Order and Order Products 2 merge

In [28]:
order_op2_merge = pd.merge(df_orders, df_order_products2, on='order_id', how='inner')
order_op2_merge

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1187899,1,train,11,4,8,14.0,196,1,1
1,1187899,1,train,11,4,8,14.0,25133,2,1
2,1187899,1,train,11,4,8,14.0,38928,3,1
3,1187899,1,train,11,4,8,14.0,26405,4,1
4,1187899,1,train,11,4,8,14.0,39657,5,1
...,...,...,...,...,...,...,...,...,...,...
1384612,272231,206209,train,14,6,14,30.0,40603,4,0
1384613,272231,206209,train,14,6,14,30.0,15655,5,0
1384614,272231,206209,train,14,6,14,30.0,42606,6,0
1384615,272231,206209,train,14,6,14,30.0,37966,7,0
1384616,272231,206209,train,14,6,14,30.0,39216,8,1

In [29]:
order_op2_merge['eval_set'].unique()

array(['train'], dtype=object)