<a href="https://colab.research.google.com/github/AmlanAlok/instacart-2017-project/blob/mark-1/99_ML_Huber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

%cd 'drive/MyDrive/9-Projects/1-ML-Instacart'
%ls

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
[Errno 2] No such file or directory: 'drive/MyDrive/9-Projects/1-ML-Instacart'
/content/drive/MyDrive/9-Projects/1-ML-Instacart
aisles.csv       order_products__prior.csv  orders.csv
departments.csv  order_products__train.csv  products.csv

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df_aisle = pd.read_csv("aisles.csv")
df_departments = pd.read_csv("departments.csv")
df_orders = pd.read_csv("orders.csv")
df_products = pd.read_csv("products.csv")
df_order_products1= pd.read_csv("order_products__prior.csv")
df_order_products2= pd.read_csv("order_products__train.csv")

1. aisle has 134 types
2. oroducts have 49,688 types

order_products1 and order_products2 do not have any overlapping order_id

pd.merge(df_order_products1, df_order_products2, on='order_id', how='outer') 

ans = 33819106 = total of op1 and op2

In [7]:
order_products1.shape

(32434489, 4)

In [8]:
order_products2.shape

(1384617, 4)

In [24]:
df_aisle.shape

(134, 2)

In [23]:
df_aisle

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [25]:
df_aisle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [28]:
df_departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

In [29]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [30]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [ ]:
df_orders.head(30)

In [35]:
df_orders['eval_set'].unique()

array(['prior', 'train', 'test'], dtype=object)

In [37]:
sorted(df_orders['order_hour_of_day'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [38]:
df_orders.shape

(3421083, 7)

In [40]:
df_order_products1.shape

(32434489, 4)

In [41]:
df_order_products2.shape

(1384617, 4)

In [43]:
df_order_products1.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [44]:
df_order_products1.loc[df_order_products1['order_id']==2]

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0

In [45]:
df_order_products2.loc[df_order_products2['order_id']==2]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [50]:
pd.merge(df_order_products1, df_order_products2, on='order_id', how='inner')

Empty DataFrame
Columns: [order_id, product_id_x, add_to_cart_order_x, reordered_x, product_id_y, add_to_cart_order_y, reordered_y]
Index: []

3421070

In [51]:
df_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [ ]:
products

In [ ]:
order_products1

In [ ]:
aisle.to_string()

In [ ]:
df_test_orders = df_orders.loc[df_orders['eval_set']=='test']
df_test_orders

In [55]:
df_test_orders.to_csv('test_orders.csv', encoding='utf-8', index=False)

In [ ]:
df_train_orders = df_orders.loc[df_orders['eval_set']=='train']
df_train_orders

In [57]:
df_train_orders.to_csv('train_orders.csv', encoding='utf-8', index=False)

In [ ]:
df_prior_orders = df_orders.loc[df_orders['eval_set']=='prior']
df_prior_orders

In [59]:
df_prior_orders.to_csv('prior_orders.csv', encoding='utf-8', index=False)